{% extends 'main/layoute.html' %}

{% block title %}
    <title>СТРАНИЦА НОВОЙ НОВОСТИ</title>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h3 class="text-center text-primary mb-4"><strong>Страница добавления НОВОСТИ на сайт {{ caption }}!</strong></h3>

    <div class="card shadow p-4">
        <h4 class="text-center text-darkblue mb-4"><strong>Форма для добавления новостей</strong></h4>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.title }}
            </div>
            <div class="mb-3">
                {{ form.short_description }}
            </div>
            <div class="mb-3">
                {{ form.text }}
            </div>
            <div class="mb-3">
                {{ form.pub_date }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Добавить новость</button>
        </form>
        <p>{{error}}</p>
    </div>
</div>
{% endblock %}