{% extends 'main/layoute.html'%}

{% block title %}
    <title>DATA страница проекта на Django</title>
{% endblock %}

{% block content %}
<h2><strong>DATA страница урока проекта на Django</strong></h2>
<br>

    <h3>Добро пожаловать на DATA страницу нашего сайта!</h3>

    <p>Мы рады приветствовать вас на DATA странице нашего проекта. Здесь вы сможете узнать больше о функционале, который мы реализовали для упрощения повседневных задач.</p>

    <p>В этом проекте мы внедрили множество интересных функций, включая:</p>
    <ul>
        <li>Интерактивные элементы для удобства работы с данными.</li>
        <li>Аналитические инструменты для обработки информации.</li>
        <li>Поддержку различных форматов данных.</li>
        <li>Регулярные обновления на основе ваших отзывов и предложений.</li>
    </ul>

    <p>Мы постоянно работаем над улучшением нашего продукта и готовы учитывать ваши пожелания. Ваши идеи помогают нам создавать более качественные решения!</p>

    <h3>Следите за обновлениями!</h3>
    <p>Не пропустите новшества и релизы на нашем сайте! Мы также открыты для сотрудничества и будем рады новым идеям и партнерствам.</p>

    <p><strong>Спасибо, что выбрали нас!</strong></p>

{% endblock %}