{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница сайта на Django</title>

{% endblock %}

{% block content %}

<h2><strong>Добро пожаловать в наш первый проект на Django!</strong></h2>
    <br>
    <p>Мы рады представить вам наш первый проект, разработанный с использованием фреймворка <strong>Django</strong>. Наша команда состоит из увлеченных разработчиков, дизайнеров и энтузиастов, которые стремятся создать удобные и функциональные веб-приложения.</p>

    <h3>Наша философия</h3>
    <p>Мы верим, что каждое приложение должно быть не только красивым, но и простым в использовании. Наша цель – предоставить пользователям интуитивно понятный интерфейс и высокую производительность. Мы активно используем лучшие практики разработки и тестирования, чтобы обеспечить надежность и безопасность наших решений.</p>

    <h3>Интересные функции</h3>
    <p>В этом проекте мы реализовали множество интересных функций, которые помогут вам в решении повседневных задач. Мы постоянно работаем над улучшением нашего продукта и готовы принимать во внимание ваши пожелания и предложения.</p>

    <h3>Следите за обновлениями</h3>
    <p>Следите за обновлениями на нашем сайте, чтобы не пропустить новшества и релизы! Мы также открыты для сотрудничества и будем рады новым идеям и партнерствам.</p>

    <p><strong>Спасибо, что выбрали нас!</strong></p>


{% endblock %}