{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница сайта на Django</title>
{% endblock %}

{% block content %}
<h1>Добро пожаловать на урок №2 фреймворка на Django, на сайт {{caption}}!</h1>

<h2> Добро пожаловать на наш сайт! </h2>
<p> Мы рады представить вам наш первый проект, разработанный с использованием фреймворка Django.
Наша команда состоит из увлеченных разработчиков, дизайнеров и энтузиастов, которые стремятся создать удобные и функциональные веб-приложения.

<p>Мы верим, что каждое приложение должно быть не только красивым, но и простым в использовании. Наша цель – предоставить пользователям интуитивно понятный интерфейс и высокую производительность. Мы активно используем лучшие практики разработки и тестирования, чтобы обеспечить надежность и безопасность наших решений.</p>

<p>В этом проекте мы реализовали множество интересных функций, которые помогут вам в решении повседневных задач. Мы постоянно работаем над улучшением нашего продукта и готовы принимать во внимание ваши пожелания и предложения.</p>

Следите за обновлениями на нашем сайте, чтобы не пропустить новшества и релизы! Мы также открыты для сотрудничества и будем рады новым идеям и партнерствам. Спасибо, что выбрали нас!</p>

{% endblock %}