{% extends 'main/layoute.html'%}

{% block title %}
    <title>Вторая страница проекта на Django</title>
{% endblock %}

{% block content %}
<h3>Вторая страница второго урока проекта на Django</h3>

<h2> Добро пожаловать на ВТОРУЮ страницу нашего сайта! </h2>

<p>В этом проекте мы реализовали множество интересных функций, которые помогут вам в решении повседневных задач. Мы постоянно работаем над улучшением нашего продукта и готовы принимать во внимание ваши пожелания и предложения.</p>

Следите за обновлениями на нашем сайте, чтобы не пропустить новшества и релизы! Мы также открыты для сотрудничества и будем рады новым идеям и партнерствам. Спасибо, что выбрали нас!</p>

{% endblock %}
