{% extends 'main/layoute.html'%}

{% block title %}
    <title>Вторая страница проекта на Django</title>
{% endblock %}

{% block content %}
<h2><strong>Вторая страница урока проекта на Django</strong></h2>
    <br>
    <h3>Добро пожаловать на ВТОРУЮ страницу нашего сайта!</h3>

    <p>Мы рады приветствовать вас на второй странице нашего проекта. Здесь мы продолжаем развивать функционал и добавлять новые возможности, которые помогут вам в решении повседневных задач.</p>

    <p>В этом проекте реализовано множество интересных функций, включая:</p>
    <ul>
        <li>Интуитивно понятный интерфейс для пользователя.</li>
        <li>Высокую производительность и скорость загрузки.</li>
        <li>Поддержку различных устройств и браузеров.</li>
        <li>Регулярные обновления и улучшения на основе ваших отзывов.</li>
    </ul>

    <p>Мы постоянно работаем над улучшением нашего продукта и готовы принимать во внимание ваши пожелания и предложения. Ваше мнение очень важно для нас!</p>

    <h2>Следите за обновлениями!</h2>
    <p>Не пропустите новшества и релизы! Мы активно обновляем наш сайт, чтобы предоставить вам самые последние функции и улучшения.</p>

{% endblock %}
