{% extends 'main/layoute.html'%}

{% block title %}
    <title>TEST страница проекта на Django</title>
{% endblock %}

{% block content %}

<h2><strong>TEST страница проекта на Django</strong></h2>
<br>

    <h3>Добро пожаловать на TEST страницу нашего сайта!</h3>

    <p>Мы рады приветствовать вас на четвертой TEST странице нашего проекта. Здесь мы представляем вам возможности тестирования и проверки функционала нашего приложения.</p>

    <p>В этом проекте реализовано множество интересных функций, включая:</p>
    <ul>
        <li>Автоматизированные тесты для проверки стабильности приложения.</li>
        <li>Инструменты для мониторинга производительности.</li>
        <li>Интерфейс для обратной связи от пользователей.</li>
        <li>Регулярные обновления на основе ваших отзывов и предложений.</li>
    </ul>

    <p>Мы постоянно работаем над улучшением нашего продукта и готовы учитывать ваши пожелания. Ваши идеи помогают нам создавать более качественные решения!</p>

    <h3>Следите за обновлениями!</h3>
    <p>Не пропустите новшества и релизы на нашем сайте! Мы также открыты для сотрудничества и будем рады новым идеям и партнерствам.</p>

    <p><strong>Спасибо, что выбрали нас!</strong></p>

{% endblock %}